<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--DON'T FORGET TO DEPLOY ASSEMBLY TO BIN FOLDER OF VIEWER APP-->
    <add key="RepositoryType" value="People.Library.SimplePeopleRepository, People.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </appSettings>
</configuration>